# Section General
# place a secret key to simulate the auth middleware.
TOKEN_BEARER=<TOKEN_BEARER> | pk_softtek_93zF8v47pBpLRMp44x96sRiZ

# Section DB
MYSQL_HOST=<MYSQL_HOST>
MYSQL_PORT=<MYSQL_PORT> | 3306
MYSQL_USERNAME=<MYSQL_USERNAME>
MYSQL_PASSWORD=<MYSQL_PASSWORD>
MYSQL_DATABASE=<MYSQL_DATABASE>

# SWAPI API
SWAPI_API=<SWAPI_API> | https://swapi.py4e.com
